.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container > .track {
  margin-right: 75px;
  width: 200px;
  text-decoration-color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

h4, h3{
  color: white;
}
.track > .trackArt {
  align-self: center;
  color: white;
}
.playTrack {
max-width: 80px;

}

a {
  color: white;
}

body {
  background-color: #282c34;
}